@model IEnumerable<Course8.Models.ProjectEvaluationModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@section test
{
    <div>
        Total number of evaluation is @Model.Count()
    </div>
    }
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    @*<div>
        <h4>@item.Name</h4>
        <span>@item.Rating</span>
        <p>@item.City,@item.Country</p>
        <span>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</span>
    </div>*@
    @Html.Partial("~/Views/Evaluation/_Evaluation.cshtml",item)
}
